In [2]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np
from scipy import stats

import os
for dirname, _, filenames in os.walk('.\datasets'):
    for filename in filenames:
        print(os.path.join(dirname, filename))
# 任何在这个工程文件夹的datasets子文件夹中的文件将被输出

#忽略警告
import warnings
warnings.filterwarnings('ignore')

.\datasets\data.xlsx
.\datasets\iris.csv
.\datasets\Live.csv
.\datasets\Mall_Customers.csv
.\datasets\users.xlsx
.\datasets\users_2.xlsx

In [3]:
data = pd.read_excel('.\datasets\data.xlsx')

In [7]:
data.head()

    任务号码     任务gps经度   任务gps 纬度  任务标价  任务执行情况
0  A0001  113.980837  22.566142  66.0       0
1  A0002  113.940525  22.686205  65.5       0
2  A0003  113.957198  22.576512  65.5       1
3  A0004  114.244571  22.564841  75.0       0
4  A0005  113.950723  22.558888  65.5       0

In [11]:
data['距离']=((data['任务gps经度']-113.2757)**2+(data['任务gps 纬度']-23.1235)**2)**(1/2)
data.head()

    任务号码     任务gps经度   任务gps 纬度  任务标价  任务执行情况        距离
0  A0001  113.980837  22.566142  66.0       0  0.898813
1  A0002  113.940525  22.686205  65.5       0  0.795751
2  A0003  113.957198  22.576512  65.5       1  0.873862
3  A0004  114.244571  22.564841  75.0       0  1.118397
4  A0005  113.950723  22.558888  65.5       0  0.880024